html {
  font-size: 10px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

$main-font: "Nunito", sans-serif;
body {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  background-color: rgb(189, 255, 253);
}
